.mgt-15 {
	margin-top: 15px;
}

.mgb-15 {
	margin-bottom: 15px;
}

.mgt-30 {
	margin-top: 30px;
}

.mgb-30 {
	margin-bottom: 30px;
}

.mgl-30 {
	margin-left: 30px;
}

.mgr-30 {
	margin-right: 30px;
}

.pdt-15 {
	padding-top: 15px;
}

.pdb-15 {
	padding-bottom: 15px;
}

.pdl-15 {
	padding-left: 15px;
}

.pdr-15 {
	padding-right: 15px;
}

.pdt-30 {
	padding-top: 30px;
}

.pdb-30 {
	padding-bottom: 30px;
}

.pdl-30 {
	padding-left: 30px;
}

.plr-30 {
	padding-right: 30px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col-1 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.ellipsis-1row {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ellipsis-2row {
	text-overflow: ellipsis;
	display: -webkit-box;
	box-decoration-break: ;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	/* box-orient: vertical;
	height: 3em;
	line-height: 1.5; */
	overflow: hidden;
}

.ellipsis-3row {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}

.pd-20 {
	padding: 20px;
}

.pd-30 {
	padding: 30px;
}

.icon-mini {
	width: 24px;
	height: 24px;
}

.icon-small {
	width: 32px;
	height: 32px;
}

.icon-medium {
	width: 48px;
	height: 48px;
}

.icon-large {
	width: 64px;
	height: 64px;
}

.icon-circle {
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.font-lv1 {
	font-size: 18px !important;
}

.font-lv2 {
	font-size: 16px !important;
}

.font-lv3 {
	font-size: 14px !important;
}

.font-lv4 {
	font-size: 12px !important;
}

.font-lv5 {
	font-size: 10px !important;
}

.float-right {
	float: right;
}

.text-grey {
	color: #999;
}

.font-w400 {
	font-weight: 400;
}

/* 将非白色的图片变为白色 */
.white-image{
	filter: brightness(0) invert(1);
}

.doc-cover {
	width: 70px;
	height: 100px;
	border-radius: 8px;
	border: 1px solid #efefef;
	max-width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.doc-cover-vip::after {
	content: "";
	position: absolute;
	z-index: 666;
	right: 2px;
	font-size: 12px;
	padding: 2px 3px 2px 1px;
	border-radius: 4px;
	height: 12px;
	width: 28px;
	top: 2px;
	background: #fff url(../images/icon-vip-doc.png);
	background-size: 100% 100%;
}